/* CSS Resetteri by Miko Savolainen*/
html, body, div, span, applet, object, iframe, h3, h4, h5, h6, blockquote, pre,  abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}
/* CSS Resetteri by Miko Savolainen*/

body {
    font-family: 'Georgia', sans-serif;
    background-image: url('images/taustakuva.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

h1, h2 {
    font-family: 'Georgia', sans-serif;
    color: #444;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.main-content {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #473a3a;  /* Käytetty tummempaa rajaväriä */
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 30px;
}

/* Lomakkeen tyylit */
.feedback-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="date"],
input[type="number"],

textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #333;
}